body {
	font-family: 'Merriweather', serif;
}
i{
	color:white;
}
#boundless{
	margin-top:100px;
	text-align: center;
	font-family: 'Josefin Slab', serif;
}
h1{
	font-size:60px;
}


.ae{            border-color: #90dad4;}
.opinion{       border-color: #0a191f;}
.studentliving{ border-color: #d1f0ee;}
.news{          border-color: #42939f;}
.sports{        border-color: #61bd95;}
.scitech{       border-color: #ACDCB4;}
.feature{       border-color: #4ba9b4;}

.red    {background-color:#90dad4;}
.orange {background-color:#ACDCB4;}
.yellow {background-color:#4ba9b4}
.green  {background-color:#d1f0ee;}
.blue   {background-color:#61bd95;}
.indigo {background-color:#42939f;}
.violet {background-color:#0a191f;;}


.scitech_news{
  border-top-color: #ACDCB4;
  border-right-color: #ACDCB4;
  border-bottom-color:#42939f;
  border-left-color: #42939f;
}

.scitech_sports{
  border-top-color: #ACDCB4;
  border-right-color: #ACDCB4;
  border-bottom-color:#61bd95;
  border-left-color: #61bd95;
}

.ae_sports{
  border-top-color: #90dad4;
  border-right-color: #90dad4;
  border-bottom-color:#61bd95;
  border-left-color: #61bd95;
}
.img-1{
  background-image: url("img1.jpg");
  height:240px;
  width:240px;
  background-size:cover;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
}

.img-2{
  background-image: url("2.jpg");
 height:250px;
  width:250px;
  background-size:cover;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
}

.img-3{
  background-image: url("3.png");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-size:cover;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}

.img-4{
  background-image: url("4.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-size:cover;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}


.img-5{
  background-image: url("5.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-size:cover;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}


.img-6{
  background-image: url("6.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-size:cover;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}


.img-7{
  background-image: url("7.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-position-x: 148px;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}


.img-8{
  background-image: url("8.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-position-x: 157px;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}


.img-9{
  background-image: url("9.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-size:cover;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}


.img-10{
  background-image: url("10.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-size:cover;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}



.img-11{
  background-image: url("11.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-size:cover;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}



.img-12{
  background-image: url("12.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-size:cover;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}



.img-13{
  background-image: url("13.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-position-x: 135px;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}



.img-14{
  background-image: url("14.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-size:cover;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}


.img-15{
  background-image: url("15.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-position-x: 148px;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}



.img-16{
  background-image: url("16.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-size:cover;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}

.img-17{
  background-image: url("17.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-size:cover;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}


.img-18{
  background-image: url("18.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-position-x: 10px;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}

.img-19{
  background-image: url("19.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-position-x: 10px;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}

.img-20{
  background-image: url("20.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-position-x: 10px;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}

.img-21{
  background-image: url("21.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-position-x: 10px;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}

.img-22{
    background-image: url("22.jpg");
    width:250px;
    height: 250px;
    background-size: 180px;
    background-position-x: 147px;
    border-radius:50%;
    border-width: 5px;
    border-style: solid;
    background-position-y: 210px;
}

.img-23{
  background-image: url("23.jpg");
  width:250px;
  height: 250px;
    background-size: 151px;
    background-position-x: 130px;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}

.img-24{
  background-image: url("24.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-position-x: 10px;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}

.img-25{
  background-image: url("25.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-position-x: -35px;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}

.img-26{
  background-image: url("26.jpg");
  width:250px;
  height: 250px;
  background-size: 180px;
  background-position-x: -35px;
  border-radius:50%;
  border-width: 5px;
  border-style: solid;
}

.title{
	text-decoration: bold;
	font-size:25px;
	width:80%;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}
a{
	color:black;
	text-decoration:none;
}
.legend{
    background-color: white;
    width: 250px;
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    border-color: black;
    border-style: solid;
    border-width: 0px;
    padding-left: 20px;
    font-size: 12px;
    display:inline;
}
.legend div{
	display:inline;
	font-size:25px;
}

.article{
	text-align: center;
	font-size: 30px;
	display:inline;
	width:40%;
	margin:5%;
}
.image{
	min-height:250px;
}
