.tribune-logo{
	position: relative;
    z-index: 2;
    width: 300px;
    top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.iphone{
    position: relative;
    z-index: 2;
    width: 38%;
    top: 34px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html, body{
	margin: 0;
	max-width: 100%;
	font-family: 'Merriweather';
	height: 100vh;
	background-color: #DDD;
}

.fotorama{
	min-width: 1px; 
	position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 378px;
    left: 4px;
    top: -736px;
    z-index: 10;

}

.content{
	padding: 10px;
	background-color: #fff;
	line-height: 25px;
}

	.mobile{
		opacity: 0;
	}
	.desk{
		opacity: 1;
	}

#wrapper {
    position:relative;
}
#slider {
    height:200px;
}
#slider img {
    width:200px;
    height:200px;
    display:none;
    top:0;
    position:absolute;
}
#nav {
    background:beige;
    width:200;
    text-align:center;
}

@media (max-width: 1366px) {
	.iphone{
		width: 725px;
	}
}

@media (max-width: 1920px) {
	.iphone{
		width: 725px;
	}
}

@media (max-width: 1280px) {
	.iphone{
		width: 725px;
	}
}


@media (max-width: 920px) {
	.iphone{
		width: 77%;
	}
}




@media (max-width: 768px) {
	.mobile{
		opacity: 1;
	    position: absolute;
	    top: 790px;
	}
	.desk{
		opacity: 0;
	}
}